<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.gstatic.com">

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- render 'seo-title' -%}

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}
  {%- render 'head.import-map' -%}
  {%- render 'head.is-land' -%}

  {%- render 'font-face' -%}
  {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
  {{ 'custom.css' | asset_url | stylesheet_tag: preload: true }}
  {%- render 'css-variables' -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.routes = {
      home: "{{ routes.root_url }}",
      cart: "{{ routes.cart_url | append: '.js' }}",
      cartPage: "{{ routes.cart_url }}",
      cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
      cartChange: "{{ routes.cart_change_url | append: '.js' }}",
      search: "{{ routes.search_url }}",
      predictiveSearch: "{{ routes.predictive_search_url }}"
    };
    theme.strings = {
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
      oneStockLabel: {{ 'products.product.stock_label.one' | t: count: '[count]' | json }},
      otherStockLabel: {{ 'products.product.stock_label.other' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
      searchCollections: {{ 'general.search.collections' | t | json }},
      searchPages: {{ 'general.search.pages' | t | json }},
      searchArticles: {{ 'general.search.articles' | t | json }},
      maxQuantity: {{ 'cart.general.max_quantity' | t: quantity: '[quantity]', title: '[title]' | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      isCustomerTemplate: {% if request.page_type contains 'customers/' %}true{% else %}false{% endif %},
      moneyFormat: {{ shop.money_format | json }},
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      quickView: {{ settings.quick_shop_enable }},
      themeName: 'Motion',
      themeVersion: "11.1.0"
    };
  </script>

  {{ content_for_header }}

  {% style %}
    :root {
      --element-button-color-primary: red;
      --element-button-color-secondary: blue;
    }
  {% endstyle %}

  <script src="{{ 'vendor-scripts-v14.js' | asset_url | split: '?' | first }}" defer="defer"></script>

  {%- if shop.enabled_currencies.size > 1 -%}
    <link rel="stylesheet" href="{{ 'country-flags.css' | asset_url | split: '?' | first }}">
  {%- endif -%}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% if request.design_mode %}
    <script>theme.settings.email = {{ shop.email | json }}</script>
    <script src="https://api.archetypethemes.co/design-mode.js" defer="defer"></script>
  {% endif %}

  {% style %}
    :root {
      /* Root Variables */
      /* ========================= */
      --root-color-primary: {{ settings.color_body_text }};
      --color-primary: {{ settings.color_body_text }};
      --root-color-secondary: {{ settings.color_body_bg }};
      --color-secondary: {{ settings.color_body_bg }};
      --color-sale-tag: {{ settings.color_sale_tag }};
      --color-sale-tag-text: {{ settings.color_sale_tag_text }};
      --color-sale-price: {{ settings.color_sale_price }};
      --layout-section-padding-block: 3rem;
      --layout-section-max-inline-size: 1220px;

      /* Text */
      /* ========================= */
      
      /* Body Font Styles */
      --element-text-font-family--body: {{ settings.type_base_font_family.family }};
      --element-text-font-family-fallback--body: {{ settings.type_base_font_family.fallback_families }};
      --element-text-font-weight--body: {{ settings.type_base_font_family.weight }};
      --element-text-letter-spacing--body: {{ settings.type_base_spacing | default: '50' | divided_by: 1000.00 | append: 'em' }};
      --element-text-text-transform--body: none;

      /* Body Font Sizes */
      --element-text-font-size--body: initial;
      --element-text-font-size--body-xs: {{ settings.type_base_size | minus: 4 | default: 12 | append: 'px' }};
      --element-text-font-size--body-sm: {{ settings.type_base_size | minus: 2 | default: 14 | append: 'px' }};
      --element-text-font-size--body-md: {{ settings.type_base_size | default: 16 | append: 'px' }};
      --element-text-font-size--body-lg: {{ settings.type_base_size | plus: 2 | default: 18 | append: 'px' }};
      
      /* Body Line Heights */
      --element-text-line-height--body: {{ settings.type_base_line_height | default: 1.4 }};

      /* Heading Font Styles */
      --element-text-font-family--heading: {{ settings.type_header_font_family.family }};
      --element-text-font-family-fallback--heading: {{ settings.type_header_font_family.fallback_families }};
      --element-text-font-weight--heading: {{ settings.type_header_font_family.weight }};
      --element-text-letter-spacing--heading: {{ settings.type_header_spacing | default: '25' | divided_by: 1000.00 | append: 'em' }};
      
      {% if settings.type_header_capitalize %}
      --element-text-text-transform--heading: uppercase;
      {% endif %} 
      
      
      /* Heading Font Sizes */
      --element-text-font-size--heading-2xl: {{ settings.type_header_base_size | plus: 16 | default: '48' | append: 'px' }};
      --element-text-font-size--heading-xl: {{ settings.type_header_base_size | default: '32' | append: 'px' }};
      --element-text-font-size--heading-lg: {{ settings.type_header_base_size | minus: 6 | default: '24' | append: 'px' }};
      --element-text-font-size--heading-md: {{ settings.type_header_base_size | minus: 8 | default: '20' | append: 'px' }};
      --element-text-font-size--heading-sm: {{ settings.type_header_base_size | minus: 14 | default: '18' | append: 'px' }};
      --element-text-font-size--heading-xs: {{ settings.type_header_base_size | minus: 16 | default: '16' | append: 'px' }};
      
      /* Heading Line Heights */
      --element-text-line-height--heading: {{ settings.type_header_line_height | default: 1.4 }};

      /* Buttons */
      /* ========================= */
      {% if settings.button_style == 'round-slight' %}
          --element-button-radius: 3px;
      {% elsif settings.button_style == 'round' %}
          --element-button-radius: 50px;
      {% else %}
          --element-button-radius: 0;
      {% endif %}

      --element-button-font-family: {{ settings.type_header_font_family.family }};
      --element-button-font-family-fallback: {{ settings.type_header_font_family.fallback_families }};
      --element-button-font-weight: {{ settings.type_header_font_family.weight }};
      --element-button-letter-spacing: {{ settings.type_header_spacing | default: '25' | divided_by: 1000.00 | append: 'em' }};

      {% if settings.type_header_capitalize %}
      --element-button-text-transform: uppercase;
      {% endif %} 

      /* Base Color Variables */
      --element-button-color-primary: {{ settings.color_button }};
      --element-button-color-secondary: {{ settings.color_button_text }};
      --element-button-box-shadow: inset 0 0 0 1px {{ settings.color_borders | default: "#1c1d1d" }};
      --element-button-shade-border: 100%;

      /* Hover State Variables */
      --element-button-shade-background--hover: 0%;

      /* Focus State Variables */
      --element-button-color-focus: var(--color-focus);
    }

    .element-input {
      box-shadow: inset 0 0 0 1px {{ settings.color_borders | default: "#1c1d1d" }};
      background-color: {{ settings.color_body_bg }};
    }

    .element-input:hover {
      box-shadow: inset 0 0 0 1px {{ settings.color_body_text }};
    }

    .element-input:focus {
      border: none;
      box-shadow: inset 0 0 0 1px {{ settings.color_body_text }};
    }

    .element-input:focus-visible {
      border: none;
      box-shadow: inset 0 0 0 2px var(--color-focus, #4a9afc);
    }

    .element-button:hover {
      --element-button-box-shadow: inset 0 0 0 1px {{ settings.color_body_text }};
    }

    product-form label.element-text:is([class*=element-text])  {
      font-family: var(--element-text-font-family--heading);
    }

    .element-radio .element-button {
      --element-button-font-family: {{ settings.type_base_font_family.family }};
    }

    .element-radio input:checked ~ .element-button {
      --element-button-shade-background--active: 0%;
      --element-button-box-shadow: inset 0 0 0 2px {{ settings.color_body_text }};
      --color-primary: {{ settings.color_body_bg }};
      --color-secondary: {{ settings.color_body_text }};
    }

    .element-button.element-quantity-selector__button {
      --element-button-box-shadow: outset 0 0 0 1px transparent;
    }

    quantity-selector:hover .element-quantity-selector__input {
      box-shadow: inset 0 0 0 1px {{ settings.color_body_text }};
    }

    @media (max-width: 768px) {
      :root {
        /* Heading Font Sizes */
        --element-text-font-size--heading-2xl: calc({{ settings.type_header_base_size | plus: 16 | default: '48' | append: 'px' }} * 0.8);
        --element-text-font-size--heading-xl: calc({{ settings.type_header_base_size | default: '32' | append: 'px' }} * 0.8);
        --element-text-font-size--heading-lg: calc({{ settings.type_header_base_size | minus: 6 | default: '24' | append: 'px' }} * 0.8);
        --element-text-font-size--heading-md: calc({{ settings.type_header_base_size | minus: 8 | default: '20' | append: 'px' }} * 0.8);
        --element-text-font-size--heading-sm: calc({{ settings.type_header_base_size | minus: 14 | default: '18' | append: 'px' }} * 0.8);
        --element-text-font-size--heading-xs: calc({{ settings.type_header_base_size | minus: 16 | default: '16' | append: 'px' }} * 0.8);
      }
    }
  {% endstyle %}
</head>

<body class="template-{{ template }} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}" data-transitions="{{ settings.animate_page_transitions }}" data-type_header_capitalize="{{ settings.type_header_capitalize }}" data-type_base_accent_transform="{{ settings.type_base_accent_transform }}" data-type_header_accent_transform="{{ settings.type_header_accent_transform }}" data-animate_sections="{{ settings.animate_sections }}" data-animate_underlines="{{ settings.animate_underlines }}" data-animate_buttons="{{ settings.animate_buttons }}" data-animate_images="{{ settings.animate_images }}" data-animate_page_transition_style="{{ settings.animate_page_transition_style }}" data-type_header_text_alignment="{{ settings.type_headers_align_text }}" data-animate_images_style="{{ settings.animate_images_style | default: "zoom-fade" }}">

  {% if settings.animate_page_transitions %}
    <script type="text/javascript">window.setTimeout(function() { document.body.className += " loaded"; }, 25);</script>
  {% endif %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

      {%- sections 'header-group' -%}
      {%- sections 'popup-group' -%}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {%- sections 'footer-group' -%}

    </div>
  </div>

  {%- liquid
    render 'video-modal'
    render 'photoswipe-template'
    render 'tool-tip'
  -%}

  {% comment %} Image markup used when building product grid item via JS {% endcomment %}
  <template id="predictiveImageMarkup">
    <image-element>
      <img width height src loading="lazy" sizes="(min-width: 769px) 100px, 60px">
    </image-element>
  </template>
</body>
</html>
