{% style %}
#job-board-{{ section.id }} {
  padding-top: {{ section.settings.padding_top_desktop }}px;
  padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
}

@media (max-width: 767px) {
  #job-board-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }
}

.job_board_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}
.job_board_sidebar {
  position: sticky;
  top: 150px;
  height: fit-content;
}

.job_listing_title li {
  list-style: none;
  cursor: pointer;
  padding: 8px 5px;
}

.job_listing_title li.active {
  font-weight: bold;
  color: #000;
}


{% endstyle %}

<section id="job-board-{{ section.id }}" class="job-board-section {{ section.settings.custom_class }} ">
  <div class="{{ section.settings.container_width }}">
    <div class="job_board_container">
        <div class="job_board_sidebar">
            <div class="sidebar_header">
                <h5>All jobs Portal</h5>
            </div>
            <div class="sidebar_content">
                <div class="job_listing_title">
                    <li class="active" data-title="Office of the Commissioner">Office of the Commissioner</li>
                    <li class="" data-title="Arizona Diamondbacks">Arizona Diamondbacks</li>
                    <li class="" data-title="Athletics">Athletics</li>
                    <li class="" data-title="Atlanta Braves">Atlanta Braves</li>
                    <li class="" data-title="Baltimore Orioles">Baltimore Orioles</li>
                </div>
            </div>
        </div>
        <div class="job_board_content">
            <div class="all_jobs_block">
                <div class="job_box" data-box="Office of the Commissioner">
                    <h2>Office of the Commissioner</h2>
                    <div class="jobx_list">
                        <p>Assistant, Minor League Operations and Development (Seasonal)</p>
                        <p>Counsel, Dominican Republic</p>
                        <p>Gameday Operations Coordinator (Seasonal)</p>
                        <p>2026 MiLB ABS Tech (Seasonal, Various minor league markets)</p>
                        <p>2026 MiLB Data Operations (Seasonal, Limited number of minor league markets)</p>
                        <p>2026 MLB ABS Operator (Seasonal, Multiple MLB markets)</p>
                        <p>2026 MLB Gameday Compliance Monitor (GCM, Seasonal, limited number of markets)</p>
                    </div>
                </div>
                <div class="job_box" data-box="Arizona Diamondbacks">
                    <h2>Arizona Diamondbacks</h2>
                    <div class="jobx_list">
                        <p>Assistant, Minor League Operations and Development (Seasonal)</p>
                        <p>Counsel, Dominican Republic</p>
                        <p>Gameday Operations Coordinator (Seasonal)</p>
                        <p>2026 MiLB ABS Tech (Seasonal, Various minor league markets)</p>
                        <p>2026 MiLB Data Operations (Seasonal, Limited number of minor league markets)</p>
                        <p>2026 MLB ABS Operator (Seasonal, Multiple MLB markets)</p>
                        <p>2026 MLB Gameday Compliance Monitor (GCM, Seasonal, limited number of markets)</p>
                    </div>
                </div>
                <div class="job_box" data-box="Athletics">
                    <h2>Athletics</h2>
                    <div class="jobx_list">
                        <p>Assistant, Minor League Operations and Development (Seasonal)</p>
                        <p>Counsel, Dominican Republic</p>
                        <p>Gameday Operations Coordinator (Seasonal)</p>
                        <p>2026 MiLB ABS Tech (Seasonal, Various minor league markets)</p>
                        <p>2026 MiLB Data Operations (Seasonal, Limited number of minor league markets)</p>
                        <p>2026 MLB ABS Operator (Seasonal, Multiple MLB markets)</p>
                        <p>2026 MLB Gameday Compliance Monitor (GCM, Seasonal, limited number of markets)</p>
                    </div>
                </div>
                <div class="job_box" data-box="Atlanta Braves">
                    <h2>Atlanta Braves</h2>
                    <div class="jobx_list">
                        <p>Assistant, Minor League Operations and Development (Seasonal)</p>
                        <p>Counsel, Dominican Republic</p>
                        <p>Gameday Operations Coordinator (Seasonal)</p>
                        <p>2026 MiLB ABS Tech (Seasonal, Various minor league markets)</p>
                        <p>2026 MiLB Data Operations (Seasonal, Limited number of minor league markets)</p>
                        <p>2026 MLB ABS Operator (Seasonal, Multiple MLB markets)</p>
                        <p>2026 MLB Gameday Compliance Monitor (GCM, Seasonal, limited number of markets)</p>
                    </div>
                </div>
                <div class="job_box" data-box="Baltimore Orioles">
                    <h2>Baltimore Orioles</h2>
                    <div class="jobx_list">
                        <p>Assistant, Minor League Operations and Development (Seasonal)</p>
                        <p>Counsel, Dominican Republic</p>
                        <p>Gameday Operations Coordinator (Seasonal)</p>
                        <p>2026 MiLB ABS Tech (Seasonal, Various minor league markets)</p>
                        <p>2026 MiLB Data Operations (Seasonal, Limited number of minor league markets)</p>
                        <p>2026 MLB ABS Operator (Seasonal, Multiple MLB markets)</p>
                        <p>2026 MLB Gameday Compliance Monitor (GCM, Seasonal, limited number of markets)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const items = document.querySelectorAll(".job_listing_title li");
    const jobBoxes = document.querySelectorAll(".job_box");
    items.forEach(item => {
        item.addEventListener("click", function () {
            const target = this.getAttribute("data-title");
            items.forEach(i => i.classList.remove("active"));
            this.classList.add("active");
            const box = document.querySelector(`.job_box[data-box="${target}"]`);
            if (box) {
                window.scrollTo({
                    top: box.offsetTop - 150, 
                    behavior: "smooth"
                });
            }
        });
    });
});
</script>


{% schema %}
{
  "name": "Elite Membership Benefits",
  "settings": [
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom CSS Class"
    },
    {
      "type": "header",
      "content": "Padding Settings"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (desktop)",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (desktop)",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (mobile)",
      "default": 40
    },

    {
      "type": "select",
      "id": "container_width",
      "label": "Container Width",
      "default": "page-width",
      "options": [
        { "label": "Container", "value": "page-width" },
        { "label": "Full Width", "value": "full-width" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Job Board"
    }
  ]
}
{% endschema %}
